<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestCase_DoAnNuocHoa.Properties.Settings.QLCHNUOCHOAConnectionString"
            connectionString="Data Source=LAPTOP-DOCKI20T;Initial Catalog=QLCHNUOCHOA;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="TestCase_DoAnNuocHoa.Properties.Settings.TestCase_NuocHoaConnectionString"
            connectionString="Data Source=LAPTOP-DOCKI20T;Initial Catalog=TestCase_NuocHoa;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>